#agenda {
  text-align: center;
  font-family: Raleway;
  padding-top: 120px;
}

#agenda .agenda__head-text {
  color: rgba(0, 0, 0, 0.65);
  font-size: 15px;
  text-transform: uppercase;
}

#agenda .agenda__main-text {
  font-size: 24px;
  font-weight: 500;
  margin: 35px auto;
}

#agenda .agenda__footer-text {
  color: rgba(0, 0, 0, 0.65);
}

@media (max-width: 850px) {
  #agenda {
    padding-top: 70px;
  }

  #agenda .agenda__head-text,
  #agenda .agenda__footer-text {
    font-size: 14px;
  }

  #agenda .agenda__main-text {
    margin: 24px auto;
    font-size: 18px;
  }

  #agenda .container {
    padding: 0 100px;
  }
}

@media (max-width: 600px) {
  #agenda .agenda__main-text {
    margin: 20px auto;
    font-size: 16px;
    margin-bottom: 40px;
  }
  #agenda .container {
    padding: 0 35px;
  }

  #agenda .agenda__head-text,
  #agenda .agenda__footer-text {
    font-size: 12px;
  }
}
