#faq {
  padding-top: 50px;
  position: relative;
}

#faq .faq__bg {
  position: relative;
  display: flex;
  justify-content: end;
}

#faq .faq__bg .faq__bg_img {
  background: #000;
  width: 70%;
  height: 670px;
  object-fit: cover;
}

#faq .faq__desc {
  font-family: Raleway;
  font-size: 24px;
  max-width: 385px;
  top: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  right: 25%;
  font-weight: 500;
  gap: 20px;
  line-height: 30px;
  position: absolute;
}

#faq .faq__desc span {
  font-size: 36px;
  font-family: Broadway;
  text-transform: uppercase;
}

#faq .faq__title {
  font-family: Limelight;
  font-size: 300px;
  font-style: normal;
  font-weight: 400;
  position: absolute;
  top: 350px;
}

#faq .faq__question_title {
  font-family: Montserrat;
  font-size: 17px;
  transition: all 0.6s;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 10px 30px 14px 10px;
}

#faq .faq__question {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#faq .faq__content {
  margin-top: 110px;
}

#faq .faq__question_answer {
  font-family: Montserrat;
  font-size: 15px;
  line-height: 20px;
  transition: 0.6s, padding 0.3s;
  max-height: 0;
  padding-bottom: 10px;
  overflow: hidden;
  padding: 0 10px;
}

#faq .faq__question.active .faq__question_answer {
  max-height: 500px;
  padding: 0 10px 10px;
}

#faq .faq__question_title svg {
  transition: all 0.6s;
}

#faq .faq__question.active .faq__question_title svg {
  transform: rotate(180deg);
}

#faq .faq__question.active .faq__question_title {
  font-weight: 500;
}

#faq .faq__questions {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 700px;
}

#faq .faq__chapter {
  color: rgba(0, 0, 0, 0.5);
  font-family: Lato;
  font-weight: 500;
  margin-top: 50px;
  margin-bottom: 80px;
  display: flex;
  gap: 30px;
}

#faq .faq__chapter > div {
  position: relative;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

#faq .faq__chapter > div.active {
  color: #000;
}

#faq .faq__chapter > div.active::after {
  content: url("../../assets/imgs/active-border.svg");
  position: absolute;
  bottom: -10px;
}

@media (max-width: 850px) {
  #faq .faq__title {
    font-size: 200px;
  }

  #faq .faq__desc {
    font-size: 16px;
    line-height: 16px;
    line-height: normal;
    top: 13%;
    gap: 0;
    right: 10%;
    max-width: 265px;
  }

  #faq .faq__desc span {
    font-size: 30px;
  }

  #faq .faq__chapter {
    gap: 0;
    justify-content: space-between;
  }
}

@media (max-width: 600px) {
  #faq .faq__desc span {
    font-size: 25px;
  }

  #faq .faq__desc {
    top: 20%;
  }

  #faq {
    padding: 0;
    margin-top: 50px;
  }

  #faq .faq__title {
    font-size: 120px;
    text-align: center;
  }

  #faq .faq__content {
    margin-top: 60px;
  }

  #faq .faq__question_title {
    font-size: 14px;
    line-height: 23px;
    padding: 10px;
    gap: 10px;
  }

  #faq .faq__question_title svg {
    min-width: 16px;
  }

  #faq .faq__bg .faq__bg_img {
    height: 500px;
    width: 100%;
  }

  #faq .faq__question_answer {
    font-size: 12px;
  }

  #faq .faq__chapter > div {
    padding: 5px;
    text-align: center;
    font-size: 12px;
  }
}
