#people-choose {
    margin-top: 30px;
    position: relative;
}
#people-choose .people-choose__title {
    font-family: Broadway;
    font-size: 40px;
    padding-bottom: 30px;
    padding-top: 38px;
    text-align: right;
}
#people-choose .people-choose__places {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 600px;
}

#people-choose .people-choose__place {
    position: relative;
    min-height: 100%;
    overflow: hidden;
    cursor: pointer;
}

#people-choose .people-choose__place::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
}

#people-choose .people-choose__place img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#people-choose .people-choose__txt {
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    bottom: -100%;
    left: 0;
    transition: all 0.8s ease-in-out;
    z-index: 1;
    color: white;
    padding: 35px 35px 30px 32px;
    width: 100%;
}

#people-choose .people-choose__place:hover .people-choose__txt {
    bottom: 0;
}

#people-choose .people-choose__name {
    font-family: Raleway;
    font-size: 20px;
    gap: 10px;
    white-space: nowrap;
    font-weight: 500;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#people-choose .people-choose__name::after {
    content: "";
    width: 100%;
    height: 1px;
    background: #fff;
}

#people-choose .people-choose__desc {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}

#people-choose .people-choose__link {
    margin-top: 20px;
    display: flex;
    justify-content: end;
}
#people-choose .people-choose__link a {
    color: white;
    display: flex;
    gap: 9px;
    align-items: center;
    font-family: Raleway;
    font-size: 12px;
    font-weight: 500;
    transition: all 0.5s;
}

/* #people-choose .people-choose__link a svg {
    transition: all 0.3s;
} */

#people-choose .people-choose__link a:hover {
    transform: scale(1.2);
}

#people-choose .people-choose__link a:hover svg {
    animation: arrowGo 0.4s infinite alternate;
}

@keyframes arrowGo {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(10px);
    }
}

#people-choose::after {
    position: absolute;
    content: "";
    top: 0;
    z-index: -1;
    right: 0;
    width: 50%;
    height: calc(100% + 80px);
    background-color: #f7f7f7;
}

#people-choose .people-choose__places-slider {
    display: none;
}

#people-choose .people-choose__blocks_arrows {
    width: 100%;
    position: absolute;
    z-index: 10;
    display: flex;
    padding: 0 20px;
    align-items: center;
    top: 80px;
    justify-content: space-between;
}

#people-choose .people-choose__blocks_arrows > button.arrow {
    width: 30px;
    height: 30px;
    display: flex;
    right: -15px;
    align-items: center;
    justify-content: center;
    border-radius: 22.5px;
    border: 1px solid #fff;
}

#people-choose .people-choose__blocks_arrows > button.arrow.swiper-button-disabled {
    opacity: 0.6;
}

#people-choose .people-choose__blocks_arrows > button.prev {
    right: unset;
    left: -15px;
    transform: rotate(180deg);
}

@media (max-width: 850px) {
    #people-choose {
        margin-top: 80px;
    }

    #people-choose .people-choose__places {
        display: none;
    }

    #people-choose .people-choose__places-slider {
        display: block;
    }

    #people-choose .people-choose__title {
        font-size: 30px;
        padding-bottom: 10px;
        padding-top: 18px;
    }

    #people-choose .people-choose__places-slider {
        height: 500px;
        position: relative;
    }

    #people-choose .people-choose__places-slider > .swiper {
        height: 100%;
    }

    #people-choose .people-choose__txt {
        top: unset;
        bottom: 0;
    }
}

@media (max-width: 600px) {
    #people-choose .people-choose__title {
        font-size: 24px;
    }

    #people-choose::after {
        top: 40px;
        width: 70%;
    }

    #people-choose .people-choose__title {
        display: flex;
        font-size: 24px;
        flex-direction: column;
    }

    #people-choose .people-choose__title span {
        font-size: 46px;
        line-height: 60px;
    }

    #people-choose .people-choose__places-slider {
        height: 600px;
    }
}
