#offer .offer__title {
    font-family: Broadway;
    display: flex;
    flex-direction: column;
}

#offer {
    padding-top: 120px;
}

#offer .offer__title_first {
    font-size: 96px;
    line-height: 70px;
}

#offer .offer__head {
    position: relative;
}

#offer .offer__signature {
    position: absolute;
    font-family: Denistina;
    font-size: 40px;
}

#offer .offer__signature.signature-1 {
    right: 25%;
    top: 40px;
}

#offer .offer__signature.signature-2 {
    max-width: 400px;
    line-height: 25px;
    bottom: 0;
    right: 0;
}

#offer .offer__title_second {
    font-size: 40px;
}

#offer .offer__body {
    margin-top: 40px;
}

#offer .offer__content h5 {
    color: #5f5f5f;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

#offer .offer__content div {
    font-family: Montserrat;
    line-height: 29px;
}

#offer .offer__slider {
    display: flex;
    height: 500px;
    justify-content: space-between;
    gap: 30px;
}

#offer .offer__content {
    width: 33.3%;
    display: flex;
    max-height: 100%;
    overflow: auto;
    flex-direction: column;
    justify-content: center;
}

#offer .offer__content::-webkit-scrollbar {
    width: 5px; /* ширина всей полосы прокрутки */
}

#offer .offer__content::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5); /* цвет бегунка */
    border-radius: 20px; /* округлось бегунка */
}

#offer .offer__img {
    display: flex;
    justify-content: center;
    position: relative;
    width: 66.6%;
}

#offer .offer__img .offer__img_pic {
    width: calc(100% - 30px) !important;
    object-fit: cover;
}

#offer .offer__titles {
    color: rgba(0, 0, 0, 0.5);
    font-family: Lato;
    font-weight: 500;
    margin-top: 50px;
    margin-bottom: 80px;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

#offer .offer__titles > div {
    position: relative;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

#offer .offer__blocks_arrows {
    width: 100%;
    position: absolute;
    height: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#offer .offer__blocks_arrows > button.arrow {
    width: 30px;
    height: 30px;
    display: flex;
    right: -15px;
    align-items: center;
    justify-content: center;
    border-radius: 22.5px;
    background: #c3c3c3;
    border: 5px solid #f9f7f3d9;
}

#offer .offer__blocks_arrows > button.arrow.swiper-button-disabled {
    opacity: 0.6;
}

#offer .offer__blocks_arrows > button.prev {
    right: unset;
    left: -15px;
    transform: rotate(180deg);
}

#offer .offer__titles > div.active {
    color: #000;
}

#offer .offer__titles > div.active::after {
    content: url("../../assets/imgs/active-border.svg");
    position: absolute;
    bottom: -10px;
}

@media (max-width: 850px) {
    #offer .offer__slider {
        padding: 0 5px;
        flex-direction: column-reverse;
    }

    #offer .container {
        padding: 0;
    }

    #offer .offer__signature {
        position: static;
        font-size: 30px;
    }

    #offer .offer__title_first {
        font-size: 76px;
    }

    #offer .offer__title_second {
        font-size: 30px;
    }

    #offer .offer__title {
        order: 3;
    }

    #offer .offer__signature.signature-2 {
        order: 2;
        max-width: none;
    }

    #offer .offer__signature.signature-1 {
        order: 2;
    }

    #offer .offer__img {
        width: 100%;
        height: 400px;
    }

    #offer {
        padding-top: 100px;
    }

    #offer .offer__content {
        padding: 23px;
        width: 500px;
        background: rgba(249, 247, 243, 0.75);
        margin: 0 25px;
        display: block;
        margin-top: -200px;
        position: relative;
        z-index: 5;
    }

    #offer .offer__content h5 {
        color: #000;
        margin-bottom: 5px;
    }

    #offer .offer__head {
        display: flex;
        flex-direction: column;
        padding: 0 25px;
    }

    #offer .offer__titles {
        margin-top: 20px;
    }

    #offer .offer__titles {
        margin-bottom: 0;
    }
}

@media (max-width: 600px) {
    #offer .offer__title_second {
        font-size: 24px;
    }
    #offer .offer__title_first {
        font-size: 46px;
        line-height: 60px;
    }

    #offer .offer__signature {
        font-size: 20px;
    }

    #offer .offer__signature.signature-1 {
        margin-top: 15px;
        margin-left: -17px;
    }

    #offer .offer__body {
        margin-top: 20px;
    }

    #offer .offer__content div {
        font-size: 14px;
        line-height: 22px;
    }

    #offer .offer__content h5 {
        font-size: 14px;
        margin-bottom: 12px;
    }

    #offer .offer__content {
        margin: 0 15px;
        margin-top: -150px;
        width: 300px;
    }

    #offer .offer__img {
        min-height: auto;
        height: 300px;
    }

    #offer .offer__titles {
        font-size: 14px;
        gap: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    #offer .offer__titles > div {
        padding: 10px;
        font-size: 12px;
    }
}
