#reviews {
    padding-top: 89px;
    margin-top: 115px;
}

#reviews .reviews__title {
    font-family: Broadway;
    font-size: 40px;
}

#reviews .reviews__subtitle {
    font-family: Raleway;
    font-size: 24px;
    font-weight: 500;
    margin: 30px 0 0;
}

#reviews .reviews__blocks {
    position: relative;
    margin: 0 auto;
}

#reviews .reviews__block {
    display: flex;
    position: relative;
    padding: 16px;
    padding-top: 40px;
    gap: 25px;
    align-items: center;
}

#reviews .reviews__block::after {
    position: absolute;
    content: "";
    top: 0px;
    z-index: -1;
    right: -40px;
    width: 80%;
    height: calc(100% + 20px);
    background-color: #f7f7f7;
}

#reviews .reviews__block_img {
    width: 55%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#reviews .reviews__block_img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#reviews .reviews__blocks_arrows {
    width: 55%;
    position: absolute;
    height: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#reviews .reviews__blocks_arrows > button.arrow {
    width: 30px;
    height: 30px;
    display: flex;
    right: -15px;
    align-items: center;
    justify-content: center;
    border-radius: 22.5px;
    background: #c3c3c3;
    border: 5px solid #f9f7f3d9;
}

#reviews .reviews__blocks_arrows > button.arrow.swiper-button-disabled {
    opacity: 0.6;
}

#reviews .reviews__blocks_arrows > button.prev {
    right: unset;
    left: -15px;
    transform: rotate(180deg);
}

#reviews .swiper-pagination-fraction,
#reviews .swiper-pagination-custom,
#reviews .swiper-horizontal > .swiper-pagination-bullets,
#reviews .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 0px;
}

#reviews .swiper-pagination-bullet-active {
    background-color: #0fa3b1;
}

#reviews .swiper {
    height: 500px;
}

#reviews .reviews__block_content {
    width: 45%;
}

#reviews .reviews__block_name {
    font-family: Raleway;
    font-size: 20px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#reviews .reviews__block_comment {
    font-family: Montserrat;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    overflow: auto;
    max-height: 300px;
    line-height: 1.7;
    margin-top: 20px;
}

#reviews .reviews__feedback {
    margin-top: 50px;
    display: block;
    text-align: end;
}

#reviews .reviews__block_smiles {
    font-family: Montserrat;
    font-size: 17px;
    padding-bottom: 5px;
    display: inline-block;
    font-style: italic;
    border-bottom: 1px solid;
}

#reviews .reviews__feedback a {
    color: rgba(0, 0, 0, 0.5);
    font-family: Lato;
    display: inline-block;
    font-weight: 500;
    cursor: pointer;
    display: inline-block;
    transition: all 0.3s;
    text-transform: uppercase;
    border: 1.5px solid rgba(0, 0, 0, 0.2);
    padding: 12px 17px;
}

#reviews .reviews__feedback span:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: #000;
}

#reviews .reviews__block_comment::-webkit-scrollbar {
    width: 5px; /* ширина всей полосы прокрутки */
}

#reviews .reviews__block_comment::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5); /* цвет бегунка */
    border-radius: 20px; /* округлось бегунка */
}

@media (max-width: 850px) {
    #reviews {
        padding-top: 29px;
        margin-top: 95px;
    }
    #reviews .reviews__title {
        font-size: 30px;
    }
    #reviews .reviews__subtitle {
        font-size: 18px;
        margin: 20px 0 25px;
    }

    #reviews .reviews__block {
        flex-direction: column;
        gap: 0;
    }
    #reviews .reviews__block_img {
        width: 100%;
        height: 300px;
    }
    #reviews .reviews__block_content {
        width: 100%;
        padding: 0 20px;
    }

    #reviews .reviews__blocks_arrows {
        width: 100%;
        top: 140px;
        height: auto;
    }

    #reviews .reviews__block::after {
        display: none;
    }

    #reviews .reviews__feedback {
        margin-top: 45px;
    }
}

@media (max-width: 600px) {
    #reviews .reviews__title {
        font-size: 24px;
    }

    #reviews .reviews__subtitle {
        font-size: 16px;
        margin: 11px 0 12px;
    }

    #reviews .reviews__block_img {
        height: 230px;
    }

    #reviews .reviews__block {
        padding: 0;
    }

    #reviews .reviews__block_name {
        font-size: 16px;
        margin-top: 15px;
        margin-bottom: 5px;
    }

    #reviews .reviews__block_smiles {
        font-size: 14px;
    }

    #reviews .swiper {
        height: 540px;
    }

    #reviews .reviews__block_comment {
        font-size: 13px;
        max-height: 210px;
        margin-top: 10px;
    }
    #reviews .reviews__block_content {
        padding: 0;
    }

    #reviews .reviews__feedback span {
        padding: 7px 12px;
        font-size: 14px;
    }

    #reviews .reviews__feedback {
        margin-top: 25px;
    }

    #reviews .reviews__blocks_arrows {
        width: calc(100% + 30px);
        left: -15px;
        top: 110px;
    }
}
