#steps {
    padding-top: 74px;
}

#steps .steps__desktop {
    display: flex;
    gap: 70px;
}

#steps .steps__desktop > div {
    width: 50%;
}

#steps .steps__title {
    display: flex;
    flex-direction: column;
    font-family: Limelight;
    font-size: 110px;
    padding-top: 240px;
    margin-bottom: 65px;
}

#steps .steps-col_1 > img {
    margin-bottom: 80px;
}

#steps .steps__title span {
    font-size: 170px;
    line-height: 110px;
}

#steps .steps__name {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
}

#steps .steps__desc {
    font-family: Montserrat;
    font-size: 17px;
    font-weight: 300;
    line-height: 27px;
}

#steps .steps__block {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

#steps .steps__step {
    position: relative;
}

#steps .steps__number {
    position: absolute;
    color: #14142b;
    font-family: Playfair Display;
    font-size: 115px;
    font-weight: 900;
    top: -40px;
    opacity: 0.1;
    left: 0;
    line-height: 20px;
}

#steps .steps__mobile {
    display: none;
}

#steps .steps__mobile_head {
    padding: 50px;
    position: relative;
    height: 600px;
}

#steps .steps__mobile_bg {
    position: absolute !important;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

#steps .steps__mobile .steps__title {
    font-size: 50px;
    margin-bottom: 0;
    padding-top: 0;
    text-align: right;
}

#steps .steps__mobile .steps__title span {
    font-size: 100px;
    line-height: 70px;
    padding-top: 20px;
}

#steps .steps__mobile .steps__block {
    background: rgba(255, 255, 255, 0.4);
    padding: 70px 20px;
    margin-top: -240px;
    max-width: 90%;
}

@media (max-width: 1100px) {
    #steps .steps__title {
        font-size: 90px;
        padding-top: 80px;
        margin-bottom: 15px;
    }

    #header .header__top {
        gap: 20px;
    }

    #header .header__menu ul li > a {
        font-size: 16px;
    }
}

@media (max-width: 850px) {
    #steps .steps__desktop {
        display: none;
    }

    #steps .steps__mobile {
        display: block;
    }
}

@media (max-width: 600px) {
    #steps {
        padding: 0;
    }
    #steps .steps__mobile .steps__title span {
        font-size: 80px;
    }
    #steps .steps__mobile .steps__title {
        font-size: 40px;
        padding-top: 30px;
    }

    #steps .steps__mobile_head {
        padding: 20px;
    }

    #steps .steps__name {
        font-size: 16px;
    }

    #steps .steps__desc {
        font-size: 14px;
        line-height: 20px;
    }
    #steps .steps__mobile .steps__block {
        padding: 35px 14px;
        max-width: 97%;
    }
    #steps .steps__number {
        font-size: 85px;
        top: -24px;
    }
    #steps .steps__block {
        gap: 40px;
    }
}
