#header {
  height: 100vh;
  padding: 60px 0;
  position: relative;
  overflow: hidden;
  background-image: url("../../assets/imgs/main-bg.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  animation: parallax 20s infinite alternate;
}

#header .header__main-bg {
  display: none;
}

@keyframes parallax {
  0% {
    background-size: 100%;
  }

  100% {
    background-size: 120%;
  }
}

#header .header__menu ul {
  display: flex;
  gap: 30px;
  justify-content: center;
  position: relative;
  z-index: 2;
}

#header .header__menu ul li > a {
  color: #fff;
  font-size: 18px;
  font-family: Montserrat;
  font-weight: 500;
  cursor: pointer;
  display: block;
  transition: all 0.3s ease-in-out;
}

#header .header__menu ul li:hover a {
  transform: scale(1.2);
  color: #000;
}

#header .header__title {
  padding-top: 120px;
}

#header .header__mobile-menu {
  display: none;
}

#header .header__menu_burger {
  display: flex;
  flex-direction: column;
  width: 30px;
  gap: 5px;
}

#header .header__menu_burger span {
  display: block;
  height: 3px;
  border-radius: 20px;
  background-color: #fff;
}

#header .header__title h1 {
  font-family: Limelight;
  font-size: 240px;
  text-align: center;
}

#header .header__title .signature {
  color: #fff;
  font-family: Denistina;
  font-size: 64px;
  text-align: end;
  position: relative;
  top: -50px;
}

#header .header__mobile_nav {
  position: absolute;
  right: -100%;
  transition: all 0.3s;
  padding: 90px 20px;
  width: 100vw;
  display: none;
  z-index: 3;
  background: rgba(0, 0, 0, 0.9);
  height: 100vh;
  top: 0;
}

#header .header__mobile_nav ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}

#header .header__mobile_nav ul a,
#header .header__mobile_nav {
  color: #fff;
  font-family: Raleway;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
}

#header .header__mobile_close {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50px;
  text-transform: lowercase;
  gap: 12px;
  left: 40px;
}

#header .mobile-menu__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 50px;
}

#header .mobile-menu__contacts > a {
  margin-bottom: 15px;
  color: #fff;
  font-family: Montserrat;
  font-weight: 600;
  text-transform: uppercase;
}

#header .mobile-menu__socials {
  display: flex;
  gap: 17px;
  align-items: center;
}

#header .mobile-menu__socials img {
  width: 40px;
}

#header .mobile-menu__socials > a:first-child img {
  width: 46px;
}

#header .mobile-menu__contacts_title {
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  font-size: 16px;
  font-weight: 600;
  padding: 7px 0;
  margin-bottom: 10px;
  text-transform: lowercase;
}

#header .mobile-menu__contacts_title::before {
  content: "";
  position: absolute;
  height: 1px;
  background: rgba(255, 255, 255, 0.5);
  width: 80%;
  bottom: 0;
  right: 0;
}

.act-menu #header .header__mobile_nav {
  right: 0;
}

html.act-menu body {
  overflow: hidden;
}

#header .header__desc {
  text-align: center;
  font-family: Raleway;
  font-size: 24px;
  position: relative;
  margin: 85px 0 35px;
  color: #fff;
}

#header .header__btn a {
  font-size: 16px;
  font-weight: 600;
  border: 1px solid #fff;
  color: #fff;
  display: block;
  padding: 17px;
  font-family: Raleway;
  transition: all 0.3s;
  cursor: pointer;
  margin: 0 auto;
  text-transform: uppercase;
}

#header .header__top {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  position: relative;
}

#header .header__top > a {
  position: absolute;
  left: 0;
  width: 80px;
}

#header .header__btn {
  display: flex;
  justify-content: center;
}

#header .header__btn a:hover {
  background-color: #fff;
  color: black;
}

@media (max-width: 1200px) {
  #header .header__title h1 {
    font-size: 170px;
  }

  #header .header__block {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #header .header__title .signature {
    top: -30px;
    max-width: 920px;
  }

  #header .container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

@media (max-width: 850px) {
  #header .header__main-bg {
    display: block;
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    animation: parallax 10s infinite alternate;
  }
  #header {
    background: none;
    animation: none;
    padding: 30px 0;
  }

  @keyframes parallax {
    0% {
      transform: scale(1);
    }

    100% {
      transform: scale(1.2);
    }
  }

  #header .header__mobile_nav {
    display: block;
  }

  #header .container {
    justify-content: space-between;
  }

  #header .header__mobile-menu {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }

  #header .header__menu {
    display: none;
  }

  #header .header__title {
    padding: 0;
  }

  #header .header__title h1 {
    font-size: 120px;
  }

  #header .header__title .signature {
    font-size: 50px;
  }

  #header .header__desc {
    margin: 155px 0 35px;
  }

  #header .header__title .signature {
    max-width: 650px;
  }
}

@media (max-width: 600px) {
  #header .header__title h1 {
    font-size: calc(65px + 35 * ((100vw - 360px) / (600 - 360)));
  }

  #header .header__title .signature {
    font-size: calc(30px + 15 * ((100vw - 360px) / (600 - 360)));
    top: -20px;
  }

  #header .header__desc {
    font-size: 16px;
  }

  #header .header__title .signature {
    padding: 0 20px;
  }
}
