.footer-bg {
  background-color: black;
  position: absolute;
  width: 100%;
  height: 640px;
  padding: 45px 20px;
  font-size: 14px;
  font-family: Lato;
}

.footer__menu_btn {
  display: none;
}

footer .footer__top {
  display: flex;
  padding: 0 0 30px;
  justify-content: center;
}

footer .footer__top a {
  width: 80px;
}

.line-first,
.line-second {
  border-bottom: 1px solid #d9d9d980;
  opacity: 0.5;
}

.footer-bg .footer__menu {
  margin: 50px 0;
}

.footer__menu ul a {
  color: #ede7db;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 2.2px;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  display: block;
}

.footer__menu ul > li:hover a {
  transform: scale(1.2);
  font-weight: 600;
}

.first-line-menu {
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px 70px;
}

.footer-social__icons {
  align-items: center;
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

.footer-contact {
  font-family: Lato;
  display: flex;
  justify-content: space-between;
  grid-row-gap: 0px;
  color: #ede7db;
  font-family: Lato;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 70px;
}

.footer-call {
  justify-content: right;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 2.2px;
  text-transform: uppercase;
  text-align: right;
  margin-bottom: 15px;
}

.footer-call__number {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  text-align: right;
  color: #ede7db;
}

.footer-contact__line {
  width: 1px;
  flex-shrink: 0;
  border-right: 1px solid #fff;
  opacity: 0.5;
}

.footer-email {
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 2.2px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.footer-email__address {
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: #ede7db;
}

.footer-copyright {
  color: #ede7db;
  text-align: center;
  font-family: Playfair Display;
  font-size: 13px;
}

@media (max-width: 600px) {
  .first-line-menu {
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin: 0;
  }

  .footer__menu ul a {
    line-height: 20px;
  }

  .footer-bg .footer__menu {
    margin: 0;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-call,
  .footer-email,
  .line-first,
  .footer-contact__line {
    display: none;
  }

  .footer-contact {
    flex-direction: column;
    margin-top: 40px;
    gap: 15px;
  }

  .footer-call__number,
  .footer-email__address {
    font-size: 16px;
    color: #ede7db;
    line-height: normal;
  }

  .footer-social__icons {
    justify-content: flex-start;
    gap: 10px;
  }

  .footer-bg {
    height: auto;
  }

  .footer__menu_btn {
    display: block;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 15px;
    text-transform: uppercase;
    margin-top: 20px;
  }
}
