#book {
  text-align: center;
  padding-top: 165px;
  display: flex;
  align-items: center;
  position: relative;
}

#book .book__plane-with-a-path-mobile {
  display: none;
}

#book .container {
  position: relative;
  z-index: 2;
}

#book .book__plane-with-a-path {
  position: absolute;
  right: 0;
}

#book .book__title {
  color: #000;
  font-family: Broadway;
  font-size: 40px;
  margin-bottom: 20px;
}

#book .book__text {
  color: #000;
  font-family: Montserrat;
  font-size: 17px;
  max-width: 822px;
  width: 100%;
  margin: 0 auto;
  line-height: 32px;
}

#book .book__signature {
  display: flex;
  margin: 35px 0 50px;
  justify-content: flex-end;
}

#book .book__signature span {
  display: inline-block;
  max-width: 420px;
  text-align: end;
  font-family: Denistina;
  font-size: 36px;
  line-height: 25px;
}

#book .book__btn {
  color: #fff;
  background-color: #0fa3b1;
  font-family: Raleway;
  font-weight: 500;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s;
  border: 1px solid #0fa3b1;
  text-transform: uppercase;
  padding: 12px 17px;
}

#book .book__btn:hover {
  background: #fff;
  color: #000;
}

@media (max-width: 850px) {
  #book {
    padding-top: 100px;
  }

  #book .book__title {
    font-size: 30px;
  }
}

@media (max-width: 600px) {
  #book .book__title {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    margin-bottom: 40px;
  }

  #book .book__title span {
    font-size: 46px;
    line-height: 60px;
  }

  #book .book__text {
    font-size: 14px;
    line-height: 25px;
  }

  #book .book__signature span {
    max-width: 253px;
    font-size: 18px;
    line-height: 15px;
  }

  #book .book__plane-with-a-path-mobile {
    display: block;
    position: absolute;
    right: 0;
  }

  #book .book__plane-with-a-path {
    display: none;
  }
}
